---
title: About
description: We want to foster the move to DIY investing.
<!-- image: https://source.unsplash.com/BcoGknSqlDc/2000x1268?a=.png -->
image: https://lh3.googleusercontent.com/hoeoMqq5mXRQMOJKJwNmZ6XNS-MbpQhBcoszSkOvXYTak_J7LEzD6XdsygcdI9D6cM5LdJnzGQpEDt1xOrOUWqVLoT4bBP6QAcO1YB8cl5xERG5UJzKDN6CXE4mFvKOxpA2V8Wgyfg=w2000
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our mission</h1>
			<p class="subtext editable">We want to foster the move to DIY investing and make it fun for investors who've embraced the digital age.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
